input {
    border: none;
    background-color: #9067C6;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

button {
    color: white;
    background-color: #242038;
    gap: 20px;
    padding: 10px;
}